footer{
	background-color: #A9A9A9;
	height:300px;
	border-top: 5px solid #696969;
	text-align: left;
	

}

.footer{
	background-color: #A9A9A9;
	position: relative;
	float: left;
	display: block;
	padding-left: 20px;
	padding-top: 50px;

	

}
.footer h2{
	font-size: 14px;
	font-weight: 600;
}

.footer h3{
	font-size: 18px;
	font-weight: 500;
}

.footer h4{
	font-size: 15px;
	font-weight: 700;
	color: white;
}

.footer p{
	font-size: 13px;
	
	color: white;
	padding-bottom: 50px;

}

.rede{
	  width: 38px;
    height: 38px;
    line-height: 38px;
    border: 2px solid #5e5d5d;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;

    display: inline-block;
    vertical-align: top;
}

.rede:hover{
	border-color: #FF69B4;
	background-color: white;
}